/* Basic styling for the container */
.container {
  min-height: calc(100vh - 30px);
  margin: 0 auto; /* Center the container */
  padding: 15px;  /* Add some padding */
  background-color: #ffffff;
  border: none;
}

/* Breakpoints for different screen sizes */
@media (max-width: 576px) {
  .container {
    max-width: 100%; /* For screens smaller than 576px */
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .container {
    max-width: 540px; /* For small screens (>= 576px) */
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 720px; /* For medium screens (>= 768px) */
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    max-width: 960px; /* For large screens (>= 992px) */
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .container {
    max-width: 1140px; /* For extra large screens (>= 1200px) */
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px; /* For XXL screens (>= 1400px) */
  }
}
